{% extends "layout.html" %}

{% block main %}

<form method="post" action="/sell">
    <input type="text" class="form-control mx-auto w-auto" name="ticker" autofocus autocomplete="off" placeholder="Enter Ticker">
    <div class="needs-space">
        <input type="text" class="form-control mx-auto w-auto" name="shares" autofocus autocomplete="off" placeholder="Enter Number of Shares">
    </div>
    <div class="needs-space">
        <button class="btn btn-primary" type="submit">Sell</button>
    </div>
</form>

{% endblock %}
